<head>
  <meta charset="UTF-8">
  <title>Oh My Dear JS</title>
  <link rel="shortcut icon" href="./favicon.png">
  <script src="https://unpkg.com/setupin"></script>
</head>

<script setup>
  import { ref, computed, useTemplateRef, watchEffect } from 'vue';
  const colorMap = {
    '===': '#902b20',
    '==': '#eb6c5f',
    '<= && >=': '#f1c40f',
    '<=': '#3498db',
    '>=': '#2ecc71',
    'else': '#bdc3c7',
  };
  const defaultEqualSet = ['""', '0n', 'false', '0', 'undefined', 'null', 'Symbol()', '{}', '[]'];
  const equalSet = ref(
    new Set(
      JSON.parse(localStorage.getItem('equalSet') ?? 'false')
      || defaultEqualSet
    )
  );
  const isRect = ref(JSON.parse(localStorage.getItem('isRect')) ?? true);
  /*  */
  function getRelation(a, b) {
    for (const ope in colorMap)
      if (ope === 'else' || prefixEvaluate(ope, a, b))
        return ope;
  }
  function getCellAttr(b, a, ai, bi, len) {
    return {
      style: `background-color: ${colorMap[getRelation(a, b)]}`,
      ...(ai === 0 && { row: a }),
      ...(bi === len - 1 && { col: b }),
    };
  };
  /*  */
  const iptRef = useTemplateRef('ipt');
  /*  */
  const option = ref(
    JSON.parse(localStorage.getItem('option') ?? 'false')
    || Array(...equalSet.value)
  );
  function toggleHandler(v) {
    if (equalSet.value.has(v)) {
      equalSet.value.delete(v);
    } else {
      equalSet.value.add(v);
    }
  }
  function deleteHandler(v) {
    equalSet.value.delete(v);
    option.value = option.value.filter(k => k !== v);
  }
  /*  */
  const iptVal = ref('');
  const ctrl = {
    clear() {
      equalSet.value.clear();
    },
    all() {
      equalSet.value = new Set(option.value);
    },
    delete() {
      ctrl.clear();
      option.value = [];
    },
    shuffle() {
      const arr = [...equalSet.value];
      for (let i = arr.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [arr[i], arr[j]] = [arr[j], arr[i]];
      }
      equalSet.value = new Set(arr);
    },
    sort() {
      const t = ['===', '==', '<= && >=', '<=', '>=', 'else'];
      equalSet.value = new Set([...equalSet.value]
        .sort((a, b) => t.indexOf(getRelation(a, a)) - t.indexOf(getRelation(b, b)))
        .sort((a, b) => prefixEvaluate('>=', a, b) ? 1 : -1)
        .sort((a, b) => prefixEvaluate('>=', a, b) ? 1 : -1)
      );
      option.value = [...new Set([...equalSet.value, ...option.value])];
    },
    rotate() {
      isRect.value = !isRect.value;
    },
  };
  function doCmd() {
    const isCmd = Object.hasOwn(ctrl, iptVal.value);
    isCmd && ctrl[iptVal.value]();
    iptVal.value = '';
    return isCmd;
  }
  function submitHandler(ipt) {
    ipt = ipt.trim();
    if (ipt === '') return;
    if (doCmd()) return;
    if (evaluate(ipt) instanceof Error) return;
    if (evaluate(`[${ipt}]`).length > 1) {
      ipt.split(',').forEach(submitHandler);
      return;
    }
    toggleHandler(ipt);
    option.value.includes(ipt) || option.value.push(ipt);
    iptVal.value = '';
  }
  /*  */
  watchEffect(() => {
    localStorage.setItem('equalSet', JSON.stringify(Array(...equalSet.value)));
    localStorage.setItem('option', JSON.stringify(option.value));
    localStorage.setItem('isRect', isRect.value);
    iptRef.value?.focus();
  });
  /*  */
</script>

<template>
  <main>
    <ul id="color-tag">
      <li v-for="(v,k) of colorMap">
        <button :style="{backgroundColor: v}">{{ k }}</button>
      </li>
    </ul>
    <ol id="equal-rect">
      <li v-for="(outside,outi) of equalSet">
        <ol>
          <li
            v-show="isRect || outi <= ini" v-for="(inside,ini) of equalSet"
            v-bind="getCellAttr(outside,inside,outi,ini,equalSet.size)">
          </li>
        </ol>
      </li>
    </ol>
  </main>
  <ul>
    <li v-for="v of option">
      <button
        :style="equalSet.has(v)&&`background-color: ${colorMap.else}`"
        @click="toggleHandler(v)"
        @contextmenu.prevent="deleteHandler(v)">{{ v }}</button>
    </li>
  </ul>
  <form @submit.prevent="submitHandler(iptVal)">
    <input v-model.trim="iptVal" ref="ipt">
  </form>
  <ul>
    <li v-for="(f,k) of ctrl">
      <button @click="f" type="button">{{ k }}</button>
    </li>
  </ul>
</template>

<style>
  @import "https://unpkg.com/@tofukit/resetcss@latest";
  @import url(./styles/main.css);

  #equal-rect:has([style*="none"]) {
    transform: translate(0, v-bind('20 - 20 * Math.exp(-0.2 * equalSet.size) + "vmin"')) rotate(-45deg);
  }
</style>

<script>
  function evaluate(str) {
    try {
      return Function(`return (${str})`)();
    }
    catch (e) {
      return e;
    }
  };

  function prefixEvaluate(operator, a, b) {
    const infix = operator.replace(/(\&\&|\|\|)/g, t => `(${b})${t}(${a})`);
    const res = evaluate(`(${a})${infix}(${b})`);
    return res instanceof Error ? void 0 : res;
  };
</script>